<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_DOCUMENTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mind2Career">
        <activity
            android:name=".ranking"
            android:exported="false" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".TermsConditionsActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".DigitalMarketing"
            android:exported="false" />
        <activity
            android:name=".transitionScreen"
            android:exported="false" />
        <activity
            android:name=".softwareEngineering"
            android:exported="false" />
        <activity
            android:name=".DesignActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherActivity"
            android:exported="false" />
        <activity
            android:name=".BusinessAnalyst"
            android:exported="false" />
        <activity
            android:name=".DataScientist"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".UploadActivity"
            android:exported="false" />
        <activity
            android:name=".RankingScreen"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".SkillGapScreen"
            android:exported="false" />
        <activity
            android:name=".home_activity"
            android:exported="false" />
        <activity
            android:name=".RecommendationScreen"
            android:exported="false" />
        <activity
            android:name=".AcademicTestActivity"
            android:exported="false" />
        <activity
            android:name=".PesonalityAssesment"
            android:exported="false" />
        <activity
            android:name=".onboarding3"
            android:exported="false" />
        <activity
            android:name=".onboarding2"
            android:exported="false" />
        <activity
            android:name=".personality"
            android:exported="false" />
        <activity
            android:name=".setprofile"
            android:exported="false" />
        <activity
            android:name=".onboarding4"
            android:exported="false" />
        <activity
            android:name=".ResumeUpload"
            android:exported="false" />
        <activity
            android:name=".AfterAssesment"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>